<%- include("header") -%>
<h1>Mis Datos</h1>
<ul>
    <li>DNI: <%= datos[0].dni %></li>
    <li>Nombre: <%= datos[0].nombre %></li>
    <li>Apellido:<%= datos[0].apellido %></li>
    <li>Teléfono: <%= datos[0].telefono %></li>
    <li>Mail: <%= datos[0].mail %></li>
    <li>Ocupación: <%= datos[0].ocupacion %></li>
    <li>Cuenta Bancaria: <%= datos[0].cuenta_bancaria %></li>
</ul>

<%- include("footer") -%></div>